@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("https://use.fontawesome.com/releases/v5.13.0/css/all.css");
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
html,body {
    display : grid;
    height: 100%;
    place-items: center;
    background-color: #6d0911;
}
/* .logo-cont{
    width: 400px;
    height: 400px;
    position: relative;
    top: -15%
}
.bematists-logo {
    width: 400px;
    height: 400px;
    position: absolute; 
}*/
.skills-bar {
    width: 600px;
    background-color: #fff;
    border-radius: 10px;
    padding: 25px 30px;
    box-shadow:  5px 5px 10px rgb(0,0,0,0.2);
    /* margin-bottom: 200px; */
}
.skills-bar .bar {
    margin: 20px 0;
}
.skills-bar .bar:first-child {
    margin-top: 0px;
}
.skills-bar .bar .info span {
    font-size: 17px;
    font-weight: 500;
    opacity: 0;
    animation: shadowtext 0.5s 1s linear forwards;
}
@keyframes shadowtext {
    100% {
        opacity: 1;
    }
    
}
.skills-bar .bar .progress-line {
    position: relative;
    height: 10px;
    width: 100%;
    background: #f0f0f0;
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: left;
    box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5),
    0px 1px rgba(255,255,255,0.8);
    animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
}
.bar .progress-line span {
    height: 100%;
    width: 80%;
    background: #6d0911;
    position: absolute;
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
}
@keyframes animate {
    100% {
        transform: scaleX(1);
    }
}
.bar .progress-line.html span {
    width: 80%;
}
.bar .progress-line span::before {
    position: absolute;
    content: "";
    right: 0;
    top: -10px;
    height: 0;
    width: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-color: #000;
    opacity: 0;
    animation: shadowtext2 0.5s 1.5s linear forwards;
}
.bar .progress-line span::after {
    position: absolute;
    display: flex;
    right: 0;
    top: -28px;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    background: #000;
    padding: 1px 8px;
    border-radius: 3px;
    opacity: 0;
    animation: shadowtext2 0.5s 1.5s linear forwards;
}
@keyframes shadowtext2 {
    100%{
        opacity: 1;
    }
}
.bar .progress-line.html span::after {
    content: "80%";
}
    /* content: "\f13d"; */
    /* <i class="fas fa-anchor"></i> */